body{
    
}

h1 {
    position: absolute;
    top: 30px;
    font-size: 20px;
    left: 110px;
    font-style: italic;
}

.background {
    background-size:cover;
    position: absolute;
    width: 100%;
    height:500px;
    top: 15%;
    animation: animate 16s ease-in-out infinite;
    
}
@keyframes animate{
    0%,100%{
        background-image: url('/images/newimg.jpg');
    }
    25%{
        background-image: url("/images/shake1.jpg");
    }
    50%{
        background-image: url("/images/money.jpg");
    }
    100%{
        background-image: url("/images/thums.jpg");
    }
}

.menu {
    position: absolute;
    left: 40%;
    top: 30px;
}

.menu ul li {
    list-style: none;
    font-size: 15px;
    float: left;
    padding: 9px;
    font-style: oblique;
    font-family: initial;
    line-height: 10px;
    text-align: center;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    background-color: green;
    color: white;


}

.menu ul li ul li {
    display: none;
    background: lightgreen;
    margin: 1px;


}

.menu ul li:hover ul li {
    display: block;
    float: none;
    text-align: center;



}

.ca {
    position: absolute;
    left: 30px;
    top: 30px;
}

.ca img {
    width: 70px;
    height: 50px;
    border-radius: 10px;
}

.text {
    position: absolute;
    top: 200px;
    width: 100%;
    left: 20%;
}

h5 {
    color: aliceblue;
    font-style: inherit;
}

.text h1 {
    font-size: 30px;
    color: aliceblue;
}

.button {
    position: absolute;
    top: 460px;
    left: 20%;


}

.button button {
    border-radius: 100px;
    padding: 15px;


}

.button button:hover {
    background-color: green;
}

.facebook {
    position: absolute;
    top: 0px;
    margin: 0px;
    left: 55%;
}

.facebook img {
    width: 30x;
    height: 30px;
    border-radius: 100%;
}

.twitter {
    position: absolute;
    top: 0px;
    left: 57%;
    margin: 3px;

}

.twitter img {
    width: 25px;
    height: 26px;
    border-radius: 100%;
}

.msg {
    position: absolute;
    top: 0px;
    left: 47%;
    font-size: 12px;
    margin: 10px;
}

.contact {
    position: absolute;
    left: 1160px;
    font-size: 12px;
}

.email {
    position: absolute;
    left: 1160px;
    font-size: 12px;
    top: 25px;
}